#include <windows.h>
#if (defined(WIN32) && !defined(__EMX__) && !defined(__MINGW32__))
#include <winver.h>
#endif
#include "version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION APP_MAJORVER,APP_MINORVER,APP_MAJORPATCHLEVEL,APP_MINORPATCHLEVEL
PRODUCTVERSION EPD_MAJORVER,EPD_MINORVER,EPD_MAJORPATCHLEVEL,EPD_MINORPATCHLEVEL
FILEFLAGSMASK 0x3L
FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
#ifdef _UNICODE
        BLOCK "040904B0"
#else
        BLOCK "040904E4"
#endif
        BEGIN
        		VALUE "Comments", COMMENTS "\0"
            VALUE "CompanyName", EPD_COMPANY_NAME "\0"
            VALUE "FileDescription", FILE_DESCRIPTION "\0"
            VALUE "FileVersion", APP_VER_STRING "\0"
            VALUE "InternalName", INTERNAL_NAME "\0"
            VALUE "LegalCopyright", LEGAL_COPYRIGHT "\0"
            VALUE "LegalTrademarks", TRADEMARKS "\0"
            VALUE "OriginalFilename", ORIGINAL_FILE_NAME "\0"
            VALUE "ProductName", PRODUCT_NAME "\0"
            VALUE "ProductVersion", APP_VER_STRING "\0"
            VALUE "PrivateBuild", "\0"
            VALUE "SpecialBuild", "\0"            
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
#ifdef _UNICODE
        //VALUE "Translation", 0x409, 1200
        VALUE "Translation", 0x410, 1200
#else
        //VALUE "Translation", 0x409, 1252
        VALUE "Translation", 0x410, 1252
#endif
    END
END

5555 ICON DISCARDABLE "icon.ico"
