<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.upp.AndroidMath">
	<uses-sdk android:minSdkVersion="21" />
    <application
		android:allowBackup="true">
        <activity android:name=".AndroidMathActivity"
                  android:label="AndroidMath">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	</application>
</manifest>
