# PRODUCTION CONFIGURATION FOR NIGHTLY DEB BUILDS

# General settings
##################
# source tarball
SRC="$(ls /home/upp/upload/upp-x11-src-*.tar.gz | tail -n 1)"
# what program to use for signing (here a wrapper that supplies passphrase)
GPG_PROG="/home/upp/bin/gpg-extpass"
# gpg key fingerprint to use
GPG_KEY="0CE4194D"
# maintainer
MAINTAINER="Jan Dolinar <dolik.rce@seznam.cz>"
# options to pass to dpkg-buildpackage
BUILDPKGOPTS="-k$GPG_KEY -sgpg -p$GPG_PROG --source-option=--auto-commit"
# do we build stable release? (set to "yes" to point the watch file to sf.net)
STABLE=0
# build number (should be 1, unless already built version is being repackaged)
BUILD=1
# where to look for additional files (makefiles,settings etc.), this is in most 
# cases the same directory as the one where this scripts resides
RES_DIR="$(dirname $(cd ${0%/*} 2>/dev/null || true; echo $PWD/${0##*/}))"

# Launchpad build specific settings
###################################
# dists to be build
LP_DISTS="lucid maverick natty oneiric precise raring saucy"
# path for temporary files
LP_TMP="~/lpbuild.tmp"
# options to pass to dput
DPUT_OPTS="-c $RES_DIR/dput.cfg"

# Local build specific settings
###############################
# dists to be build
LOCAL_DISTS="squeeze wheezy sid"
# architectures to be build
ARCHS="amd64 i386"
# path for temporary files
LOCAL_TMP="~/localbuild.tmp"
#number of jobs for parallel building
JOBS=4
